:root {
  /* Font */
  --font-logo: 'Raleway', sans-serif;
  --font-family: 'Roboto', sans-serif;

  /* Color */
  --main-color-txt: #757575;
  --secondary-color-txt: #212121;
  --accent-color-txt: #ffffff;

  --icons-color: #afb1b8;
  --backlight-color: #2196f3;
  --background-color: #2f303a;
  --logo-dark: #000000;

  --background-btn: #f5f4fa;
}

body {
  font-family: var(--font-family);
  color: var(--main-color-txt);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--accent-color-txt);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Header */

.navigation {
  display: flex;
}

.container-header {
  display: flex;
  align-items: center;
}

.logo {
  padding: 24px 0px 25px 0px;
  margin-right: 93px;

  color: var(--backlight-color);
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-studio {
  color: var(--logo-dark);
}

.navigation-list {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.navigation-link {
  padding: 10px 0;

  color: var(--secondary-color-txt);
  counter-reset: var(--secondary-color-txt);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--backlight-color);
}

.navigation-item {
  margin-right: 50px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.current {
  position: relative;
  color: var(--backlight-color);
}

.current::after {
  content: '';
  position: absolute;
  bottom: -22px;
  left: 0;

  width: 100%;
  height: 4px;

  border-radius: 2px;
  background: var(--backlight-color);
  cursor: auto;
}

.navigation-mail-phone {
  margin-left: auto;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-phone,
.navigation-mail {
  color: var(--main-color-txt);
  fill: var(--main-color-txt);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-mail {
  margin-right: 50px;
}

.navigation-phone:hover,
.navigation-phone:focus,
.navigation-mail:hover,
.navigation-mail:focus {
  color: var(--backlight-color);
  fill: var(--backlight-color);
}

.navigation-icon {
  vertical-align: middle;
  margin-right: 10px;
}

/* Main */
/* Hero */
.hero {
  text-align: center;
}

.hero-background {
  margin: 0 auto;
  padding: 200px 0;

  max-width: 1600px;
  height: 600px;

  object-fit: cover;
  background-position: center;

  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/fon.jpg);
}

.hero-title {
  margin: 0 auto 30px;
  width: 700px;
  text-align: center;

  color: var(--accent-color-txt);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  background: var(--backlight-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  color: var(--accent-color-txt);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/* Peculiarities */

.peculiarities-list {
  display: flex;
  justify-content: space-between;
}

.peculiarities-item {
  width: 270px;
}

.peculiarities-title {
  margin-bottom: 10px;

  color: var(--secondary-color-txt);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.peculiarities-title::before {
  content: '';
  display: flex;

  margin-bottom: 30px;
  max-width: 270px;
  height: 120px;

  background-position: center;
  background-repeat: no-repeat;

  border-radius: 4px;
  background-color: var(--background-btn);
}

.antenna::before {
  background-image: url(../images/antenna.png);
}

.clock::before {
  background-image: url(../images/clock.png);
}

.diagram::before {
  background-image: url(../images/diagram.png);
}

.astronaut::before {
  background-image: url(../images/astronaut.png);
}

.peculiarities-text {
  line-height: 1.71;
}

/* Service */
.service {
  padding-top: 0;
}

.service-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--secondary-color-txt);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.img-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 0;
}

.img-item {
  position: relative;
}

.service-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--accent-color-txt);
  background: rgba(47, 48, 58, 0.8);
}

/* Command */
.command-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--secondary-color-txt);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.command-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 0;
}

.command-item {
  background-color: var(--accent-color-txt);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-img {
  margin-bottom: 30px;
}

.command-text {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--secondary-color-txt);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.command-text-prof {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;

  width: 44px;
  height: 44px;

  border-radius: 50%;

  fill: var(--icons-color);
  background-color: var(--accent-color-txt);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--backlight-color);
  fill: var(--accent-color-txt);
}

.social-list > li:last-child > .social-link {
  margin-right: 0;
}

.command {
  background-color: var(--background-btn);
}

/* Client */

.client-title {
  margin-bottom: 50px;

  text-align: center;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--secondary-color-txt);
}

.client-list {
  display: flex;
  justify-content: space-between;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;

  border: 1px solid var(--icons-color);
  border-radius: 4px;

  fill: var(--icons-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  fill: var(--backlight-color);
  border: 1px solid var(--backlight-color);
}

/* Footer */
footer {
  padding: 60px 0;
  background-color: var(--background-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-contact {
  margin-right: 70px;
}

.footer-contact > .logo {
  display: block;
  padding: 0;
  margin-bottom: 20px;
}

.studio {
  color: var(--accent-color-txt);
}

.contacts-address {
  color: var(--accent-color-txt);
  font-style: normal;
  text-decoration: none;
  line-height: 1.71;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list {
  padding-left: 0;

  margin-top: 0;
  margin-bottom: 0;
}

.contact-item:nth-child(-n + 2) {
  margin-bottom: 9px;
}

.contacts-mail,
.contacts-phon {
  font-style: normal;
  text-decoration: none;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-mail:hover,
.contacts-mail:focus,
.contacts-phon:hover,
.contacts-phon:focus,
.contacts-address:hover,
.contacts-address:focus {
  color: var(--backlight-color);
}

.icon-txt {
  margin-bottom: 20px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--accent-color-txt);
}

.footer-icon {
  margin-right: auto;
}

.footer-icon-list {
  display: flex;
}

.footer-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;

  width: 44px;
  height: 44px;

  border-radius: 50%;

  fill: var(--accent-color-txt);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  fill: var(--accent-color-txt);
  background-color: var(--backlight-color);
}

.footer-icon-list > li:last-child > .footer-icon-link {
  margin-right: 0;
}

.subscription-form {
  display: flex;
}

.subscription-txt {
  margin-bottom: 20px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--accent-color-txt);
}

.subscription-input {
  width: 358px;
  height: 50px;

  padding-left: 16px;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  color: var(--accent-color-txt);
}

.subscription-input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.subscription-btn {
  display: block;
  position: relative;

  margin-left: 12px;
  padding: 10px 62px 10px 30px;

  border-radius: 4px;
  border: none;
  background: var(--backlight-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--accent-color-txt);
}

.subscription-img {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}

/* Portfolio */

.portfolio-header {
  border-bottom: 1px solid #ececec;
}

.portfolio-sorting {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn {
  padding: 6px 22px;

  background: var(--background-btn);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  color: var(--secondary-color-txt);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-btn:nth-child(-n + 4) {
  margin-right: 8px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--accent-color-txt);
  background-color: var(--backlight-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  margin: 0 auto;
  padding-left: 0;
  padding-bottom: 94px;
}

.portfolio-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-child(n + 7) {
  margin-bottom: 0;
} */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
  padding-left: 0;
}

.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);

  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title-text {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
  margin-bottom: 4px;

  color: var(--secondary-color-txt);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--main-color-txt);
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-thumb {
  position: relative;

  overflow: hidden;
}

.portfolio-thumb::after {
  content: '';
  position: absolute;
  bottom: -100%;
  left: 0;

  width: 370px;
  height: 294px;

  background: rgba(33, 150, 243, 0.9);

  transition: bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-thumb::after {
  bottom: 0;
}

.project-text {
  position: absolute;
  bottom: -100%;
  left: 24px;
  z-index: 3;

  width: 322px;
  height: 168px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--accent-color-txt);

  transition: bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .project-text {
  bottom: 63px;
}

/* MODAL */

.modal-drop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);

  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-drop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 581px;

  padding: 40px;

  border-radius: 4px;
  background: var(--accent-color-txt);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;

  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;

  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
  fill: var(--backlight-color);
}

.modal-form-txt {
  text-align: center;

  margin-bottom: 12px;

  font-family: var(--accent-color-txt);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  color: var(--secondary-color-txt);
}

.modal-form-contact {
  display: block;

  margin-bottom: 20px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.contact-input-box {
  position: relative;
  display: block;
  margin-top: 4px;
}

.form-contact-input {
  width: 100%;
  height: 40px;

  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-contact-input:focus {
  outline: none;
  border-color: var(--backlight-color);
}

.form-contact-input:focus + .contact-input-icon {
  fill: var(--backlight-color);
}

.contact-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-contact-message {
  width: 100%;
  height: 120px;

  margin-top: 4px;
  padding: 12px 16px;

  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-contact-message::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-contact-message:focus {
  outline: none;
  border-color: var(--backlight-color);
}

.checkbox-box {
  margin-bottom: 30px;
}

.modal-form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal-form-checkbox::before {
  content: '';

  display: inline-block;

  width: 16px;
  height: 15px;

  margin-right: 7px;

  border: 1px solid var(--secondary-color-txt);
  border-radius: 2px;

  cursor: pointer;
}

.form-checkbox-input:checked + .modal-form-checkbox::before {
  background-image: url(../images/icon_check.png);
  border: none;
}

.form-checkbox-input:focus + .modal-form-checkbox::before {
  border-color: var(--backlight-color);
}

.modal-form-link {
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--backlight-color);
}

.modal-form-btn {
  display: block;

  margin: 0 auto;
  padding: 10px 56px;

  border-radius: 4px;
  border: none;
  background: var(--backlight-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--accent-color-txt);
}
